* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body{
   /* background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw);
      color: #2b2929;
      box-shadow: inset 0px 0px 20px rgba(50,10,10,10); */

      /* box-shadow: inset 0px 0px 20px rgba(50,10,10,10); */
       box-shadow: inset 600px 500px 500px rgba(12, 11, 12, 0.4);

    
}

.top-nav {

    /* background: ; */
    width: 100%;
    height: 80px;
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.logo {
    color: #e50914;
    font-size: 40px;
    font-weight: 900;
}


.lang {
    height: 40px;
    width: 140px;
    padding: 6px 15px;
    background: transparent;
    color: white;
    border: 1px solid #838080;
    border-radius: 4px;
    margin-right: 15px;
}


.signin {
    height: 40px;
    width: 140px;
    padding: 7px 15px;
    background-color: #e50914;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.landing {
    height: 100vh;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw);
    /* background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9b7ee234-d798-4cea-a4e3-f2d379e6e236/7267cc5f-66e0-4e35-a2ff-e25f7a88e2e4/IN-en-20231211-popsignuptwoweeks-perspective_alpha_website_large.jpg"); */
    background-size: cover;
    background-position: center;
    position: relative;
    /* box-shadow:
  inset 0 2px 4px rgba(255,255,255,0.3),
  inset 0 -4px 6px rgba(0,0,0,0.4); */

    box-shadow: inset 500px 600px 500px rgba(10, 0, 0, 0.4);

    background-size: 110%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    .overlay {
    position: absolute;
    inset: 0;

    background:
      /* top + bottom dark */
      linear-gradient(
        to top,
        rgba(0,0,0,0.85) 0%,
        rgba(0,0,0,0.45) 60%,
        rgba(0,0,0,0.85) 100%
      ),
      /* left + right dark */
      linear-gradient(
        to right,
        rgba(0,0,0,0.75) 0%,
        rgba(0,0,0,0.1) 40%,
        rgba(0,0,0,0.75) 100%
      );
}

}



.hero-content {
    position: relative;
    z-index: 5;
    text-align: center;
        position: relative;
    z-index: 5;
    height: 100%;
    color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    color: aliceblue;
}

.hero-content h1 {
    font-size: 55px;
    font-weight: 900;
}

.price {
    margin-top: 20px;
    font-size: 20px;
}

.small-text {
    margin-top: 15px;
    font-size: 15px;
}

.email-box {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 60px;
    
}


.email-box input {
    width: 450px;
    padding: 15px;
    border: 2px solid rgb(153, 151, 151);
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.35); 
    box-shadow: 0 0 6px rgba(73, 73, 73, 0.6);
}
.email-box input::placeholder {
  color: #eee4e4;   /* change to any color */
  opacity: 1;    /* important */
}


.get-started {
    padding: 15px 20px;
    font-size: 20px;
    background-color: #e50914;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


/* ------------------------------- */



.trending {
    background: #000;
    padding: 40px 60px;
    margin-top: -80px;
    height: 80vh;
}

.trending h2 {
    color: #eee9e9;
    font-size: 38px;
    margin-top: 17vh;
    margin-bottom: 25px;
}

.slider {
    display: flex;
    gap: 35px;
    
    padding-bottom: 20px;
    justify-content: center;
}



.card {
    position: relative;
    width: 180px;
    height: 190px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.08);
}

.card img {
    width: 180px;
    height: 260px;
    border-radius: 10px;
    object-fit: cover;
}

.rank {
    position: absolute;
    left: -30px;
    top: 140px;
    font-size: 70px;
 
    font-weight: 900;
    color: #0a0a0a;
  -webkit-text-stroke: 2.5px #e6dddd;     /* outline */
  
  z-index: 2;

    
}

/* ---------------------------------------------- */



.reasons {
    background: #000;
    padding: 60px 60px;
    margin-top: 0px;
}

.reasons h2 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 25px;
}

.reasons-box {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.reason-card {
    width: 260px;
    background: linear-gradient(135deg, #1a1a3d, #351b33);
    color: white;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    height: 280px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    transition: transform 0.3s ease;
}

.reason-card:hover {
    transform: scale(1.05);
}

.reason-card h3 {
    font-size: 20px;
    font-weight: 700;
}

.reason-card p {
    margin-top: 8px;
    color: #ccc;
}

.reason-card img {
    width: 55px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* ------------------------------ */

.faq {
  background: #000;
  color: #fff;
  padding: 60px 12%;
  font-family: Arial, sans-serif;
}

.faq h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  width: 100%;
  background: #303030;
  color: #fff;
  border: none;
  padding: 22px 24px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question:hover {
  background: #404040;
}

.icon {
  font-size: 32px;
  transition: transform 0.3s ease;
}

.faq-answer {
  background: #303030;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-answer p {
  padding: 20px 24px;
  font-size: 16px;
  line-height: 1.6;
}

/* --------------------------- */


.cta {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 50px 12%;
  font-family: Arial, sans-serif;
}

.cta-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

/* Input box */
.input-box {
  position: relative;
  width: 380px;
  max-width: 100%;
}

.input-box input {
  width: 100%;
  padding: 18px 12px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #555;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}

/* Floating label */
.input-box label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #8c8c8c;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
  background: transparent;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: 6px;
  font-size: 12px;
  color: #8c8c8c;
}

/* Button */
.cta-btn {
  background: #e50914;
  color: #fff;
  border: none;
  padding: 16px 26px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.cta-btn:hover {
  background: #f6121d;
}

.cta-btn span {
  font-size: 24px;
}



@media (max-width: 768px) {
  .cta-form {
    flex-direction: column;
  }

  .cta-btn {
    width: 100%;
    justify-content: center;
  }
}


/* ------------------------------------ */


.netflix-footer {
  background: #000;
  color: #a7a2a2;
  padding: 60px 12%;
  font-family: Arial, sans-serif;
}

.footer-call {
  margin-bottom: 30px;
}

.footer-call a {
  color: #a7a2a2;
  text-decoration: none;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color:  #a7a2a2;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-lang select {
  background: #000;
  color:  #a7a2a2;
  border: 1px solid #333;
  padding: 8px 12px;
  margin-bottom: 20px;
}

.footer-country {
  margin-bottom: 15px;
}

.footer-note {
  font-size: 13px;
  color: #a7a2a2;
}

.footer-note a {
  color: #0071eb;
  text-decoration: none;
}


@media (max-width: 768px) {
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }
}
